<ion-content>
<div id="container">
  <img src="../assets/icon/favicon.png">
  <p class="isimlik">Ayşe Yılmaz</p>
  <ion-button (click)="isine()" fill="solid" shape="round" color="dark" class="button1">Sosyal Medya Uzmanı</ion-button>
</div>
<div id="container2">
  <ion-button expand="block" class="button2">Kişisel Bilgiler</ion-button>
  <ion-button (click)="kelime()" expand="block" class="button2">Anahtar Kelimeler</ion-button>
  <ion-button (click)="website()" expand="block" class="button2">Web Siteleri</ion-button>
</div>
</ion-content>
